<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="Source" value="C:\FileMonitoring\SourceFolder"></add>
		<add key="Destination" value="C:\FileMonitoring\DestinationFolder"></add>
		<add key="Log" value="C:\FileMonitoring\LogFolder"></add>
	</appSettings>
</configuration>